flows_INPI-CPU-3B.json
[{"id":"985dcf39.22c5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"341a49cd.aa9386","type":"inject","z":"985dcf39.22c5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["119ce258.46450e"]]},{"id":"119ce258.46450e","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"0","regini":"0","quant":"40","extractbits":"","enableretry":false,"x":350,"y":80,"wires":[["22ce8301.69bd9c"]]},{"id":"2f5060a7.b5774","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"1","regini":"0","quant":"40","extractbits":"","enableretry":false,"x":370,"y":120,"wires":[["d09da4fb.a479f8"]]},{"id":"d09da4fb.a479f8","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"2","regini":"0","quant":"40","extractbits":"","enableretry":false,"x":390,"y":160,"wires":[["9a4104cb.7f3d78"]]},{"id":"9a4104cb.7f3d78","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"3","regini":"0","quant":"40","extractbits":"","enableretry":true,"x":410,"y":200,"wires":[["e6ba4f58.e6d9f","f05ff6d4.affd98"]]},{"id":"e6ba4f58.e6d9f","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"4","regini":"0","quant":"40","extractbits":"","enableretry":false,"x":430,"y":240,"wires":[["28853ca9.d40db4"]]},{"id":"28853ca9.d40db4","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"5","regini":"0","quant":"40","extractbits":"","enableretry":false,"x":450,"y":280,"wires":[["28237c4e.bdd8c4"]]},{"id":"28237c4e.bdd8c4","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"6","regini":"0","quant":"40","extractbits":"","enableretry":false,"x":470,"y":320,"wires":[["ec0f9872.228188"]]},{"id":"b82735bd.c0b318","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"9","regini":"0","quant":"8","extractbits":"","enableretry":false,"x":510,"y":420,"wires":[[]]},{"id":"22ce8301.69bd9c","type":"function","z":"985dcf39.22c5c","name":"","func":"if(msg.result.indexOf('done') !== -1){\n    //global.set('')\n    //node.warn('ok')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":80,"wires":[["2f5060a7.b5774"]]},{"id":"ec0f9872.228188","type":"Input Read","z":"985dcf39.22c5c","name":"","topic":"","property":"payload","ip":"localhost:5000","slave":"7","regini":"0","quant":"40","extractbits":"","enableretry":true,"x":490,"y":360,"wires":[["119ce258.46450e","b3a7f3f1.661b3"]]},{"id":"f05ff6d4.affd98","type":"function","z":"985dcf39.22c5c","name":"","func":"if(msg.result.indexOf('done') !== -1){\n    msg.erro = false\n}else{\n    \n    msg.erro = true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["7e02dbae.e11434"]]},{"id":"7e02dbae.e11434","type":"rbe","z":"985dcf39.22c5c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"erro","x":800,"y":200,"wires":[["3fe83bf2.ef1bc4"]]},{"id":"3fe83bf2.ef1bc4","type":"debug","z":"985dcf39.22c5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":200,"wires":[]},{"id":"b3a7f3f1.661b3","type":"function","z":"985dcf39.22c5c","name":"","func":"if(msg.result.indexOf('done') !== -1){\n    msg.erro = false\n}else{\n    \n    msg.erro = true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":360,"wires":[["d1e9bb25.4baab8"]]},{"id":"d1e9bb25.4baab8","type":"rbe","z":"985dcf39.22c5c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"erro","x":880,"y":360,"wires":[["fec94dc.35ed9b"]]},{"id":"fec94dc.35ed9b","type":"debug","z":"985dcf39.22c5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":360,"wires":[]},{"id":"c92d7c2a.74d15","type":"comment","z":"985dcf39.22c5c","name":"14:35","info":"","x":730,"y":440,"wires":[]}]